@model MyApp.Web.Data.Entities.Company


@{
    ViewData["Title"] = "Detalles";
}

<h2>Empresa</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Empresa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GRXX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GRXX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GRYY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GRYY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>




    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-warning">Editar</a>
    <a asp-action="AddQuestionType" asp-route-id="@Model.Id" class=" btn btn-primary">Agregar Relevamiento</a>
    <a asp-action="Index" class=" btn btn-success">Regresar</a>


</div>

@if (Model.CompanyQuestionTypes.Count == 0)
{
    <h5>No hay Relevamientos cargados.</h5>
}

else

{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tipo de Relevamiento
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompanyQuestionTypes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionType.Name)
                    </td>
                    

                    <td>
                        <a asp-action="EditQuestion" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        <a asp-action="DetailsQuestion" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                        <a asp-action="DeleteQuestion" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

